/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(to bottom, rgb(0, 156, 156), rgb(0, 78, 115));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2, h3 {
    color: rgb(0, 78, 115);
    text-align: center;
    margin-bottom: 15px;
  }
  
  p, ul {
    margin-bottom: 15px;
    color: #333;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="tel"],
  input[type="email"],
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="tel"],
  input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .step-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgb(0, 78, 115);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: rgb(0, 156, 156);
  }
  
  button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Progress Bar */
  .progress-bar {
    margin-top: 20px;
    height: 10px;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress {
    height: 100%;
    width: 0;
    background-color: rgb(0, 156, 156);
    transition: width 0.3s;
  }
  
  /* Hidden Steps */
  .step {
    display: none;
  }
  
  .step.active {
    display: block;
  }
  